:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Room header */
.room-details {
  display: flex;
  position: sticky;
  padding: 1rem;
  top: 0;
  z-index: 1;
}
.room-details h2 {
  margin: 0;
}

/* Message list */
.messages {
  padding-inline: 1rem;
  overflow-y: auto;
}

.message-sended-container,
.message-received-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.message-sended-container {
  align-items: flex-end;
}
.message-received-container {
  align-items: flex-start;
}

.message-sended-content,
.message-received-content {
  width: fit-content;
  word-wrap: break-word;
  max-width: 75%;
  margin-block: 0.25rem;
  padding-inline: 1rem;
  border-radius: 6px;
}
.message-sended-content {
  background-color: #c2c0c0;
  color: black;
}

.message-received-content {
  background-color: #78a4f9;
  color: white;
}

.message-timestamp,
.message-sender {
  font-size: small;
  margin-block: 0.1rem;
}

/* Message send */
.send-message {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  padding: 1rem;
}
.send-message form {
  width: 100%;
}
