<div class="room-details">
  <h2>ChatName</h2>
</div>
<div class="messages" #messages>
  <div *ngFor="let message of webSocketService.messages; let i = index">
    <div
      [ngClass]="
        message.userId === webSocketService.userId
          ? 'message-sended-container'
          : 'message-received-container'
      "
    >
      <ng-container
        *ngIf="
          i === 0 || message.userId !== webSocketService.messages[i - 1].userId
        "
      >
        <p class="message-sender">{{ message.username }}</p>
      </ng-container>
      <div
        [ngClass]="
          message.userId === webSocketService.userId
            ? 'message-sended-content'
            : 'message-received-content'
        "
      >
        <p>{{ message.content }}</p>
      </div>
      <ng-container
        *ngIf="
          i === webSocketService.messages.length - 1 ||
          message.userId !== webSocketService.messages[i + 1].userId
        "
      >
        <p class="message-timestamp">{{ message.timestamp }}</p>
      </ng-container>
    </div>
  </div>
</div>
<div class="send-message">
  <form ngNativeValidate (ngSubmit)="sendMessage()">
    <p-inputGroup>
      <input
        type="text"
        pInputText
        placeholder="Send Message"
        id="messageContent"
        name="messageContent"
        [(ngModel)]="messageContent"
        required
      />
      <button type="button" pButton icon="pi pi-send"></button>
    </p-inputGroup>
  </form>
</div>
