:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Room header */
.room-details {
  display: flex;
  position: sticky;
  padding: 1rem;
  top: 0;
  z-index: 1;
}
.room-details h2 {
  margin: 0;
}

/* Message list */
.messages {
  padding-inline: 1rem;
  overflow-y: auto;
}

.single-message-sended {
  display: flex;
  align-items: center;
  justify-content: end;
  width: fit-content;
  max-width: 75%;
  margin-left: auto;
  margin-block: 0.25rem;
  padding-inline: 1rem;
  background-color: #C2C0C0;
  border-radius: 6px;
}

.single-message-received {
  display: flex;
  align-items: center;
  justify-content: start;
  width: fit-content;
  max-width: 75%;
  margin-right: auto;
  margin-block: 0.25rem;
  padding-inline: 1rem;
  background-color: #78A4F9;
  color: white;
  border-radius: 6px;
}

/* Message send */
.send-message {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  padding: 1rem;
}
::ng-deep p-inputgroup {
  width: 90%;
}
