<div class="room-details">
  <h2>ChatName</h2>
</div>
<div class="messages" #messages>
  <div
    *ngFor="let message of webSocketService.messages"
    [ngClass]="
      message.userId === webSocketService.userId
        ? 'single-message-sended'
        : 'single-message-received'
    "
  >
    <p>{{ message.content }}</p>
  </div>
</div>
<div class="send-message">
  <p-inputGroup>
    <input
      type="text"
      pInputText
      placeholder="Send Message"
      minlength="1"
      id="messageContent"
      name="messageContent"
      [(ngModel)]="messageContent"
      (keydown.enter)='sendMessage()'
    />
    <button
      type="button"
      pButton
      icon="pi pi-send"
      (click)="sendMessage()"
    ></button>
  </p-inputGroup>
</div>
