.container {
  margin-top: auto;
}
.input {
  border-radius: var(--mantine-radius-xl);
  padding: var(--mantine-radius-lg);
}
.iconButton {
  margin-right: var(--mantine-spacing-xs);
}
.form {
  width: 100%;
}
