.container {
  display: flex;
  flex-direction: column;
}

.userInformationContainer {
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-lg);
  margin-top: var(--mantine-spacing-md);
}
.iconWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 2rem;
  position: relative;
  top: 15px;
}

.usernameText {
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
}

.messageWrapperSended {
  max-width: 75%;
  width: fit-content;
  margin-left: auto;
  margin-bottom: 0.4rem;
  border-radius: var(--mantine-radius-xl);
  padding: var(--mantine-spacing-sm);
  background-color: var(--mantine-color-blue-0);
}

.messageWrapperReceived {
  max-width: 75%;
  width: fit-content;
  margin-left: calc(2rem + var(--mantine-spacing-sm));
  margin-bottom: 0.4rem;
  padding: var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-xl);
  background-color: var(--mantine-color-gray-0);
}
