.container {
  display: flex;
  flex-direction: column;
}

.userInformationContainer {
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-sm);
  margin-top: calc(var(--mantine-spacing-xs) / 2);
}
.iconWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 2rem;
  position: relative;
  top: 15px;
}

.usernameText {
  font-size: var(--mantine-font-size-sm);
}

.messageWrapperSended {
  max-width: 75%;
  width: fit-content;
  margin-left: auto;
  margin-block: calc(var(--mantine-spacing-xs) / 2);
  border-radius: var(--mantine-radius-xl);
  padding: var(--mantine-spacing-sm);
  word-break: break-all;
}

.messageWrapperReceived {
  max-width: 75%;
  width: fit-content;
  margin-left: calc(1.8rem + var(--mantine-spacing-sm));
  margin-bottom: calc(var(--mantine-spacing-xs) / 2);
  padding: var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-xl);
  background-color: var(--mantine-color-blue-light);
  word-break: break-all;
}

.messageWrapperAdmin {
  width: 100%;
  text-align: center;
  background-color: inherit;
  padding: var(--mantine-spacing-xs);
}
