.container {
  height: 100%;
}

.column {
  height: 100%;
  overflow: scroll;
}

.dividerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

.divider {
  height: 100%;
}
