:host {
  width: 90%;
  height: 90%;
  border: 1px solid blueviolet;
  padding: 0.25rem 0.5rem;
  overflow-y: scroll;
}

/* TOP-BAR */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 0.25rem;
}

::ng-deep .p-divider, ::ng-deep .p-divider::before {
  margin: 0;
  color: white;
  border-color: #3B82F6;
}
::ng-deep .p-divider-content {
  background-color: #3B82F6;
  border-radius: 6px;
}

::ng-deep .p-inputgroup {
  width: auto;
}

/* ROOMS */
.room {
  margin-top: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.room:hover {
  border: 0.5px solid lightblue;
}

.room-left-side {
  width: 50%;
  display: flex;
  align-items: center;
}

.user-count {
  display: flex;
  align-items: center;
  gap: 0.5rem
}

.room-right-side{
  width: 50%;
  display: flex;
  justify-content: end;
  gap: 10%;
}