<div class="top-bar">
  <div class="user-details">
    <i class="pi pi-user"></i>
    <p>{{ webSocketService.username }}</p>
  </div>
  <p-inputGroup>
    <input
      type="text"
      pInputText
      placeholder="New Room"
      [(ngModel)]="roomname"
      id="roomname"
      name="roomname"
    />
    <button
      type="button"
      pButton
      icon="pi pi-plus"
      (click)="createRoom()"
    ></button>
  </p-inputGroup>
</div>
<p-divider align="center"> <b>Rooms</b> </p-divider>
<div class="room-list">
  <div class="room" *ngFor="let room of webSocketService.rooms">
    <div class="room-left-side">
      <p>{{ room.name }}</p>
    </div>
    <div class="room-right-side">
      <div class="user-count">
        <i class="pi pi-users" style="font-size: 1.5rem"></i>
        <p>{{ room.userCount }}</p>
      </div>
      <button
        pButton
        (click)="joinRoom(room.id)"
        label="Join"
        icon="pi pi-arrow-right"
        iconPos="right"
        size="small"
      ></button>
    </div>
  </div>
</div>
