:host {
  width: 85%;
  height: 85%;
  border: 1px solid blueviolet;
  padding: 0.25rem 0.5rem;
}

.p-divider{
  padding: 0;
  margin: 0;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room-left-side {
  width: 75%;
  display: flex;
  align-items: center;
  gap: 2.5%;
}

.user-count {
  display: flex;
  align-items: center;
  gap: 0.5rem
}